name: CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  # Backend Unit Tests Job
  unit-tests-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.21"
          cache-dependency-path: bugtracker-backend/go.sum

      - name: Install go-junit-report
        run: go install github.com/jstemmer/go-junit-report/v2@latest

      - name: Execute Backend Unit Tests
        working-directory: ./bugtracker-backend
        run: |
            go test -json -coverprofile=coverage.out -covermode=atomic ./...
            go tool cover -func=coverage.out > coverage.txt
            
            echo "## Go Test Coverage Report" >> $GoITHUB_STEP_SUMMARY
            echo '```' >> $GoITHUB_STEP_SUMMARY
            cat coverage.txt >> $GoITHUB_STEP_SUMMARY
            echo '```' >> $GoITHUB_STEP_SUMMARY

            go test ./... -v 2>&1 | go-junit-report > test-results.xml

      - name: Publish Backend Tests Results
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: Backend Unit Tests Report
          path: bugtracker-backend/test-results.xml
          reporter: jest-junit
          fail-on-error: false

  # Frontend Unit Tests Job
  unit-tests-frontend:
    needs: unit-tests-backend
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: bugtracker-frontend/package-lock.json

      - name: Execute Frontend Unit Tests
        working-directory: ./bugtracker-frontend
        run: |
          npm ci
          npm test

      - name: Publish Frontend Tests Results
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: Frontend Unit Tests Report
          path: bugtracker-frontend/test-results.xml
          reporter: jest-junit
          fail-on-error: false
